        .container {
            max-width: 80vw;
            margin: auto;
            padding: 5vw;
            background: #010A6A;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
          color: #fff;
            text-align: center;
        }
        .tip {
        }
        .tip-content {
            font-size: 1.2em;
            color: #F3F3FF;
            text-align: center;
            margin: 20px 0;
        }
        .author {
            text-align: right;
            font-style: italic;
            color: #fff;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 4vh; /* Add some space above buttons */
        }
        .next-tip, .exit-button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
        }
        .exit-button {
          background: #DF1414;
        }
        .next-tip:hover {
            background-color: #0056b3;
        }
        .exit-button:hover {
            background-color: #E2A5A5;
        }